name: Lint

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: python -m pip install .[dev]

      - name: Ruff check
        run: ruff check .

      - name: isort check
        run: isort --check .

      - name: mypy check
        run: mypy .
